@font-face {
   font-family: 'Orkney Regular';
   font-display: swap;
   src: url('file:///Users/madisonfrye/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-11-16_104851/fonts/Orkney%20Regular/font.ttf');
}
